<br><br>
<footer>
    <div class="logo">
        <img src="https://www.facultyplus.com/wp-content/uploads/2018/10/MRGI.png" alt="">
        <img class="curve" src="./images/mrce.png" alt="MRCE-logo-PNG">
        <img src="./logo-plexus.svg" alt="Plexus-SVG">
    </div>
    <div class="info">
        <h3>Malla Reddy Group of Institutes</h3>
        <h4>Malla Reddy College Of Engineering - [MRCE]</h4>
        <p>Maisamaguda, Dhulapally, post via Kompally Secunderabad - 500100 Telangana, India</p>
    </div>

    <div class="images">
        <img src="https://cdn.freebiesupply.com/logos/thumbs/2x/iso-31-logo.png">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/59/SAP_2011_logo.svg/2560px-SAP_2011_logo.svg.png"
            alt="">
        <img src="https://upload.wikimedia.org/wikipedia/en/thumb/8/8d/National_Board_of_Accreditation.svg/1200px-National_Board_of_Accreditation.svg.png"
            alt="">
    </div>
    <h5>Designed & Developed by <a href="https://github.com/Harshrb2424">Harsh RB</a></h5>
</footer>