  @import url('https://fonts.googleapis.com/css2?family=Poppins&family=Rubik&display=swap');
  /* font-family: 'Poppins', sans-serif;
  font-family: 'Rubik', sans-serif; */
  :root {
    --background-color: #161A30;
    --accent-color: #31304D;
    --secondary-color: #B6BBC4;
    --primary-color: #F0ECE5;
  }
body{
    background-color: var(--background-color);
    color: var(--primary-color);
    height: 100vh;
    width: 100%;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    
}
.body-load{
  overflow: hidden;
}
h5, h6, p{
  color: var(--primary-color);
  font-family: 'Rubik', sans-serif;
  font-weight: 100;
}
h2{
  color: var(--primary-color);
  text-transform: uppercase;
  font-family: 'Rubik', sans-serif;
  font-size: 30px;
  font-weight: 100;
}
h1{
  color: var(--primary-color);
  font-family: 'Rubik', sans-serif;
  font-weight: 100;
  font-size: 50px;
}
h3{
  color: var(--primary-color);
  font-family: 'Rubik', sans-serif;

}
h4{
  color: var(--primary-color);
  font-family: 'Rubik', sans-serif;
  font-weight: 100;
  font-size: 25px;
  opacity: 0.8;
}
nav{
  display: flex;
  justify-content: space-between;
  height: 60px;
  width: 96%;
  align-items: center;
  padding: 1% 2%;
  padding-bottom: 30px;

  background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 20%);
}

nav > div{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}
nav > div > img{
  letter-spacing: 1px;
  transform: scale(0.9);
  transition: all ease 500ms;
}
nav:hover > div > img{
  transform: scale(1);
}
nav h3{
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: 1.1px;
  padding: 0 10px;
  transition: all ease 200ms;

}
nav h3:hover{
  transform: scale(1.2);
}
nav .logo{
  letter-spacing: 2px;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}
nav:hover > .logo{
  transform: scale(1.05);
  transition: all ease 500ms;
}

nav img{
  height: 50px;
}

#home{
  padding: 0 20%;
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#logo-plexus{
  
    background-color: red;
  }
  #loader{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    padding: 0;
    margin: 0;
    
}
  #loader >  svg{
    
  animation: logo-scale-animation 1.2s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
}

.bg{
  position: absolute;
  min-height: 100vh;
  min-width: 100%;
  z-index: -100;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.bg svg{
  position: absolute;
  min-width: 100%;
  min-height: 100vh;
  z-index: -100;
}
  @keyframes logo-scale-animation {
    0% {
      transform: scale(0.95);
    }

    39% {
      transform: scale(0.85);
    }

    60% {
      transform: scale(0.95);
    }
  }
  

  .dots {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 40px;
  }
  .dots div {
    position: absolute;
    top: 13px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #fff;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  .dots div:nth-child(1) {
    left: 8px;
    animation: dot1 0.6s infinite;
  }
  .dots div:nth-child(2) {
    left: 8px;
    animation: dot2 0.6s infinite;
  }
  .dots div:nth-child(3) {
    left: 32px;
    animation: dot2 0.6s infinite;
  }
  .dots div:nth-child(4) {
    left: 56px;
    animation: dot3 0.6s infinite;
  }
  @keyframes dot1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes dot3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes dot2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(24px, 0);
    }
  }
  

  @keyframes waveAnimation {
    
    0% {
      transform: scale(1);
      opacity: 1;
    }
    50% {
      transform: scale(1.05);
      opacity: 0.8;
    }
    100% {
      transform: scale(0.95);
      opacity: 0.6;
    }
  }
  
  #wave-1,   #wave-2,   #wave-3 {
    transform-origin: center;
  }
  #wave-1 {
    animation: waveAnimation 4s infinite alternate;
    animation-delay: 0.2s;
  }
  
  #wave-2 {
    animation: waveAnimation 4s infinite alternate;
    animation-delay: 0.4s;
  }
  
  #wave-3 {
    animation: waveAnimation 4s infinite alternate;
    animation-delay: 0.6s;
  }
  #curve-1 {
    animation: waveAnimation 4s infinite ease alternate;
    animation-delay: 0.2s;
  }
  
  #curve-2 {
    animation: waveAnimation 4s infinite ease alternate;
    animation-delay: 0.4s;
  }
  
  #curve-3 {
    animation: waveAnimation 4s infinite ease alternate;
    animation-delay: 0.6s;
  }


@keyframes opacityAnimation1 {
  0% {
    opacity: 0.7;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.7;
  }
}

@keyframes opacityAnimation2 {
  0% {
    opacity: 0.7;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.7;
  }
}

:root {
  --total-paths: 26;
}

@keyframes opacityAnimation1 {
  0% {
    opacity: 0.7;
    transform: translateY(0);
  }
  50% {
    opacity: 1;
    transform: translate(-15px, 15px);
  }
  100% {
    opacity: 0.7;
    transform: translateY(0);
  }
}
@keyframes opacityAnimation2 {
  0% {
    opacity: 0.7;
  }
  50% {
    opacity: 0.85;
  }
  100% {
    opacity: 0.7;
  }
}


#lines-1 {
  animation: opacityAnimation1 5s infinite alternate;
  animation-delay: 1s;
}
#lines-2 {
  animation: opacityAnimation1 6s infinite alternate;
  animation-delay: 2s;
}
#lines-3 {
  animation: opacityAnimation1 5s infinite alternate;
  animation-delay: 1s;
}
#lines-4 {
  animation: opacityAnimation1 6s infinite alternate;
  animation-delay: 2s;
}
#ellipse-1 {
  animation: opacityAnimation1 15s infinite alternate;
  animation-delay: 0s;
}
#ellipse-2 {
  animation: opacityAnimation1 12s infinite alternate;
  animation-delay: 0.2s;
}

#onload {
  display: none;
}
.home-bg{
  
  position: absolute;
  z-index: -100;
  overflow: hidden;
}
.home-bg *{
  overflow: hidden;
}
.ccs1{
  z-index: -50;
  transform: translate(-200px, -500px) ;
  transform-origin: center;
}
.ccs2{
  z-index: -150;
  transform: translate(-100px,-900px) ;
  transform-origin: center;
}
.ccs3{
  overflow: hidden;
  z-index: -50;
  transform: translate(300px, -300px) scale(2);
  animation: opacityAnimation2 6s infinite alternate;
}
#home-circles{
  animation: opacityAnimation2 4s infinite alternate;
  filter: blur(30px);
  fill: var(--secondary-color);
  transition: all ease 500ms;
}
#home:hover #home-circles{
  filter: blur(10px);
  transition: all ease 500ms;
}
#home > h1{
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
  transform: scale(0.9);
  opacity: 0.8;
  transition: all ease-out 300ms;
}
#home > h4{
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
  opacity: 0.7;
  transition: all ease-out 300ms;
}
#home:hover > h1{
  
  transform: scale(1);
  opacity: 1;
}
#home:hover > h1, #home:hover > h4{
  transform: scale(1);
  opacity: 1;
}
#about-us{
  transform: translateY(-50px);
  background-color: var(--accent-color);
  border-radius: 0 40px 40px 0;
  width: 80%;
  padding: 20px;
  min-height: 400px;
}


.about-us {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  padding: 20px;
}

.about-us > div {
  min-width: 200px;
  min-height: 300px;
  flex: 1;
  margin: 0 10px;
  padding: 20px;
  border: 1px solid var(--accent-color); /* You can use the accent color variable here */
  border-radius: 8px;
  text-align: center;
}

.about-us h2 {
  color: var(--primary-color); /* Use the primary color variable for heading text */
}

.about-us p {
  color: var(--secondary-color); /* Use the secondary color variable for paragraph text */
}

.about-us img {
  width: 100%;
  border-radius: 50%;
  margin-bottom: 10px;
}

.about-us h5 {
  font-size: medium;
  margin: 5px 0;
  color: var(--primary-color); /* Use the primary color variable for heading text */
}

.about-us h6 {
  font-size: medium;
  margin: 5px 0;
  opacity: 0.7; /* Use the accent color variable for subheading text */
}

footer img{
  height: 50px;
}
footer {
  background-color: var(--accent-color);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;

}
.info{
  width: 70%;
  flex-direction: column;

}
footer .images{
  

  display: flex;
  justify-content: space-around;
}
footer .images{
  grid-column: span 2;
}
@media (max-width: 767px) {
  h3 {
    font-size: 16px;
  }
  h2{
    font-size: 24px;
  }
  h1, h4{
    margin: 0;
  }
  #home{
    height: 80vh;
    padding-bottom: 15vh;
  }
}