@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

@keyframes lights {
  0% {
    text-shadow: 0 0 1em hsla(320, 100%, 50%, 0.2),
      0 0 0.125em hsla(320, 100%, 60%, 0.3),
      -1em -0.125em 0.5em hsla(40, 100%, 60%, 0),
      1em 0.125em 0.5em hsla(200, 100%, 60%, 0);
  }

  30% {
    text-shadow: 0 0 1em hsla(320, 100%, 50%, 0.5),
      0 0 0.125em hsla(320, 100%, 60%, 0.5),
      -0.5em -0.125em 0.25em hsla(40, 100%, 60%, 0.2),
      0.5em 0.125em 0.25em hsla(200, 100%, 60%, 0.4);
  }

  40% {
    text-shadow: 0 0 1em hsla(320, 100%, 50%, 0.5),
      0 0 0.125em hsla(320, 100%, 90%, 0.5),
      -0.25em -0.125em 0.125em hsla(40, 100%, 60%, 0.2),
      0.25em 0.125em 0.125em hsla(200, 100%, 60%, 0.4);
  }

  70% {
    text-shadow: 0 0 1em hsla(320, 100%, 50%, 0.5),
      0 0 0.125em hsla(320, 100%, 60%, 0.5),
      0.5em -0.125em 0.25em hsla(40, 100%, 60%, 0.2),
      -0.5em 0.125em 0.25em hsla(200, 100%, 60%, 0.4);
  }

  100% {
    text-shadow: 0 0 1em hsla(320, 100%, 50%, 0.2),
      0 0 0.125em hsla(320, 100%, 60%, 0.3),
      1em -0.125em 0.5em hsla(40, 100%, 60%, 0),
      -1em 0.125em 0.5em hsla(200, 100%, 60%, 0);
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

body {
  height: 100vh;
  width: 100%;
  margin: 0;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  animation: fadeIn 3s linear;
  gap: 25px;
  background-size: contain;
  background-position: 50% 50%;
  overflow: hidden;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}
.images > img {
  height: 10vh;
  border: solid 10px white;
  border-radius: 10px;
  opacity: 0;
  animation: fadeIn 3s linear;
  animation-delay: 1s;
  animation-fill-mode: forwards;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
h1,
h2 {
  /* font-family: "Rubik", sans-serif; */
  font-size: 3rem;
  padding: 0 20%;
  text-align: center;
  color: #0015a6;
  margin: 0;
  animation: lights 5s linear infinite;
}
.images {
  display: flex;
  gap: 50px;
}
.images div {
  display: flex;
  height: 10vh;
  border: solid 10px white;
  border-radius: 10px;
  opacity: 0;
  animation: fadeIn 3s linear;
  animation-delay: 2s;
  animation-fill-mode: forwards;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
.bg {
  position: absolute;
  z-index: -10;
  height: 100vh;
  scale: 1.05;
}
.pattern {
  position: absolute;
  z-index: -5;
  opacity: 0.8;
  height: 100vh;
  scale: 1.05;
}
.hide {
  display: none;
}
